*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background: linear-gradient(135deg, rgb(15,15,15), rgb(111, 112, 111));
  color: whitesmoke;
  height: 100vh;
  
}
.container{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  padding: 0px 10px;

}
.section1{
  width: 50%;
}
.section2{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  
  border: 2px solid white;
}
.form{
  display: flex;
  
  width: 100%;
  padding: 0px 30px;
  /* align-items: center; */
  flex-direction: column;
  
}
.param1{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 400;
  }
.label{
  text-align: start;
  font-size: 20px;
  margin-top: 10px;
  
}
.input{
  width: 90%;
  padding: 8px 10px;
   
  border-radius: 10px;
  margin-top: 5px;
  border: none;
  outline: none;
}
.buttDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 90%;
}
.button{
  width: 50%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

}
.button1{
  width: 90%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

}
.select{
  width: 90%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}