*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background: linear-gradient(135deg, rgb(15,15,15), rgb(111, 112, 111));
  color: whitesmoke;
  height: 100vh;
  
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  /* height: 100vh; */
}
.section1{
  width: 50%;
}
.section2{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
}
.form{
  display: flex;
  width: 100%;
  padding: 0px 20px;
  /* align-items: center; */
  flex-direction: column;
  
}
.param1{
    margin-top: 40px;
    font-size: 50px;
    font-weight: 500;
  }
.label{
  text-align: start;
  font-size: 20px;
  margin-top: 15px;
}
.input{
  width: 80%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 8px;
  border: none;
  outline: none;
}
.button{
  width: 80%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;

}